go 1.22

use (
	.
	./pkg
	./services/analytics
	./services/audit
	./services/auth
	./services/connector-hub
	./services/gateway
	./services/normalizer
	./services/observer
	./services/orchestrator
	./services/storage
)
