{{- if .Values.ingress.enabled -}}
{{- $ns := .Values.global.namespace -}}
{{- $class := required "ingress.className is required when ingress.enabled=true" .Values.ingress.className -}}
{{- $host := required "ingress.host is required when ingress.enabled=true" .Values.ingress.host -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: chartly
  namespace: {{ $ns | quote }}
  labels:
    {{- toYaml .Values.global.labels | nindent 4 }}
    app.kubernetes.io/component: ingress
  # annotations:
  #   # Add ingress controller-specific annotations in overlays, e.g.:
  #   # - cert-manager.io/cluster-issuer: letsencrypt-prod
  #   # - <controller>.ingress.kubernetes.io/ssl-redirect: "true"
  #   # - <controller>.ingress.kubernetes.io/limit-rps: "100"
spec:
  ingressClassName: {{ $class | quote }}
  rules:
    - host: {{ $host | quote }}
      http:
        paths:
          {{- range $i, $r := (.Values.ingress.routes | default list) }}
          - path: {{ required "ingress.routes[].path is required" $r.path | quote }}
            pathType: {{ required "ingress.routes[].pathType is required" $r.pathType | quote }}
            backend:
              service:
                name: {{ required "ingress.routes[].serviceName is required" $r.serviceName | quote }}
                port:
                  name: {{ required "ingress.routes[].servicePortName is required" $r.servicePortName | quote }}
          {{- end }}
  {{- if and .Values.ingress.tls .Values.ingress.tls.enabled .Values.ingress.tls.secretName }}
  tls:
    - hosts:
        - {{ $host | quote }}
      secretName: {{ .Values.ingress.tls.secretName | quote }}
  {{- end }}
{{- end -}}
